<mat-card class="example-card">
    <h3>Search</h3>
    Find a word along with its meaning,synonyms and antonyms
    <br>
    <br>
    <h3>Bookmarks</h3><br>
    Bookmark a word by clicking on star to retrieve it later through the overflow.
    <br> 
    
    <h3>History</h3><br>
    See history of previously selected words
    <br>
    
    <h3>Floating Thesaurus</h3><br>
    Enable or disable Floating Thesauris from the settings,copy a word anywhere on your device and see its synonyms on a popup window
    without opening the application.<br>
    
    <h3>Advanced/Crossword Search</h3><br>
    Use ? to replace single letter e.g ba? for bag,bat,bam,ban,bay.<br>
    Use * to replace multiple characters e.g. po*t for pocket,podgiest,poet,point.<br>
    Combine * and ? e.g. r?t*d for rated,rationed,retained.<br>
    </mat-card>